// $color-900: #1F2933;
// $color-800: #323F4B;
// $color-700: #3E4C59;
// $color-600: #52606d;
// $color-500: #616e7c;
// $color-400: #7B8794;
// $color-300: #9aa5b1;
// $color-200: #CBD2D9;
// $color-100: #E4E7EB;
// $color-50: #F5F7FA;

$color-900: #222222;
$color-800: #3B3B3B;
$color-700: #515151;
$color-600: #626262;
$color-500: #7E7E7E;
$color-400: #9E9E9E;
$color-300: #B1B1B1;
$color-200: #CFCFCF;
$color-100: #E1E1E1;
$color-50: #E7E7E7;