@use 'utils/_colors.scss' as *;

.App {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;

  text-align: center;
  background-color: $color-900;
}

.container {
  position: relative;
  width: 92%;
  height: 100%;
  max-height: calc(100vh - 80px);
  padding: 0% 2%;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-800;
  background: radial-gradient($color-900, $color-800);
  border: 2px solid $color-400;
  box-shadow: 0vmin 0vmin 3vmin $color-800;

  .content {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    -webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    }

    height: 100%;
    color: $color-100;
    h1 {
      color: $color-200;
    }
  }
}