$color-900: #1F2933;
$color-100: #E4E7EB;

.App {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;

  text-align: center;
  background-color: $color-900;
  color: $color-100;
}