$color-900: #1F2933;
$color-800: #323F4B;
$color-400: #7B8794;
$color-200: #CBD2D9;
$color-100: #E4E7EB;

.App {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;

  text-align: center;
  background-color: $color-900;
}

.container {
  position: relative;
  width: 92%;
  height: 90vh;
  padding: 0% 2%;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-800;
  border: 2px solid $color-400;

  .content {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    -webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    }

    height: 100%;
    color: $color-100;
    h1 {
      color: $color-200;
    }
  }
}