@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$color-900: #1F2933;
$color-50: #F5F7FA;

html, body {
  margin: 0;
  font-family: 'Open Sans';
  height: 100%;
  width: 100%;
  background-color: $color-900;
}

code {
  font-family: 'Fira Code';
  background-color: $color-900;
  color: $color-50;
  border-radius: 30px;
}
