@use '../../utils/_colors.scss' as *;

.Article {

    @mixin flex-center {
        display: flex;
        justify-content: center;
    }

    .container-container {
        visibility: hidden;
        border-radius: 30px;
    }

    .visible {
        visibility: visible;
        opacity: 1;
    }

    .header {
        @include flex-center;
        // margin-top: 50px;
        animation: 1s fadeIn 0s ease-in-out;

        span {
            text-align: left;
            max-width: 800px;
            width: 90%;

            font-size: 40px;
            line-height: 46px;
            font-weight: 600;
            letter-spacing: -2px;
            color: $color-50;

            hr {
                margin-top: 3px;
            }
        }
    }

    .text-container {
        @include flex-center;

        .text-div {
            text-align: left;
            max-width: 600px;

            font-size: 18px;
            line-height: 27px;
        }

        .bold {
            font-weight: 600;
        }

        .head {
            color: $color-50;
            font-weight: 500;
        }

        a {
            color: $color-200;
            font-weight: 400;
        }
    }

    .img-container {
        @include flex-center;

        .img-bg {
            box-shadow: 0vmin 0vmin 1vmin $color-900;
            background-color: $color-900;
            border-radius: 15px;
            width: auto;
            transition: transform .3s ease-in-out;
            max-width: 700px;


            img {
                max-width: 100%;
                height: auto;
                border-radius: 15px;
            }

            .alt-text {
                color: $color-400;
                margin-bottom: 5px;
            }
        }

        .img-bg:hover {
            box-shadow: 0vmin 0vmin 1vmin $color-800;
            transform: scale(1.1);
        }
    }

    .video-container {
        @include flex-center;

        iframe {
            box-shadow: 0vmin 0vmin 1vmin $color-900;
            border-radius: 15px;
            border-color: $color-400;
            border-style: solid;
        }
    }

    .code-container {
        @include flex-center;

        pre {
            max-width: 800px;
            border-radius: 15px;
        }
    }

    .note-container {
        @include flex-center;

        blockquote {
            color: $color-200;
            max-width: 500px;
            background-color: $color-700;
            text-align: left;
            font-weight: 300;
            padding-left: 15px;
            border-left: 3px solid $color-900;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    .space-0 {
        @include flex-center;

        height: 10px;
    }
    .space-1 {
        @include flex-center;

        height: 20px;
    }
    .space-2 {
        @include flex-center;

        height: 40px;
    }
}

@keyframes changeBackground {
    from {background-color: $color-900;}
    to {background-color: transparent;}
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
